@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700;800&display=swap');

body{
    width: 100vw;
    overflow: hidden;
    touch-action: manipulation;
}

#map {
    position: relative;
}
#canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#content{
    display: flex;
    justify-content: center;

}
#myCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    pointer-events: none;
}

#instruction{
    position: absolute;
    top: 100px;
    align-self: center;
    align-items: center;
    color: white;
    font-size: 60px;
    padding: 5%;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 2%;
    border-radius: 20px;
    text-align: center;

}

#droneTop{
    height: 100px;
    position: absolute;
    display: none;
    top: 900px;
    left: 500px;
    z-index: 50;
}

#policeBoat{
    height: 100px;
    position: absolute;
    display: none;
    top: 900px;
    left: 500px;
    z-index: 50;
}

#policeBoat2{
    height: 100px;
    position: absolute;
    display: none;
    top: 900px;
    left: 500px;
    z-index: 50;
}

.droneTop_animate{
    animation-name: my-animation;
    animation-duration: 6s;
}

.policeboat_animate{
    animation-name: my-animation2;
    animation-duration: 12s;
}

.policeboat_animate2{
    animation-name: my-animation3;
    animation-duration: 12s;
}

/* @keyframes my-animation {
    0% {transform: translateX("+basex+"px) translateY("+basey+"px);} 
    49% {
        transform: rotate(0deg);
    } 
    50% {
        rotate: (180deg);transform: translateX(500px) translateY(900px);
    }
    100% {
        transform: translateX(500px) translateY(1600px);
    }
} */

#demoLink2{
    width: 60%;
    color: white;
    align-self: center;
    font-weight: 700;
    margin: 0;
    height: 150px;
    font-size: 50px;
    border-radius: 20px;
    background-color: rgb(0, 64, 255);
    display: none;
    position: absolute;

    top: 900px;
    /* left: 100px; */

}

.boatimg{
    height: 75px;
    position: absolute;
    padding: 50px;
}

#Boat1{
    top: 695px;
    left: 121px;
}
#Boat2{
    top: 510px;
    left: 477px;
}
#Boat3{
    height: 90px;
    top: 870px;
    left: 720px;
}

#Base{
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: red;
    top: 1670px;
    left: 541px;
    z-index: 5;
}

.boatlable{
    font-size: 25px;
    color: white;
    padding: 0;
    margin: none;

}

#boatlable1{
    position: absolute;
    left: 170px;
    top: 790px;
}

#boatlable2{
    position: absolute;
    left:539px;
    top: 586px;
}

#boatlable3{
    position: absolute;
    left: 750px;
    top: 950px;
}


.criminal{
    color: red;
    font-weight: 800;
}

.kosher{
    color: green;
    font-weight: 800;
}


